body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
#leftmessage {
  padding: 0.5rem 1rem;
  margin: 0.75rem 20rem 0.75rem 0.75rem;
}

#rightmessage {
  padding: 0.5rem 1rem;
  margin: 0.75rem 0.75rem 0.75rem 20rem;
}

#othermsg {
  padding: 1rem 1.5rem;
  margin: 0.75rem 0rem 0.75rem 0.75rem;
  border-radius: 10px;
  color: white;
  outline: none;
  background: lightblue;
  overflow-wrap: break-word;
  text-align: left;
}

li#mine {
  padding: 1rem 1.5rem;
  margin: 0.75rem 0rem 0.75rem 0.75rem;
  border-radius: 10px;
  color: white;
  outline: none;
  overflow-wrap: break-word;
  text-align: right;
  background: lightgreen;
}

#event {
  color: gray;
  font-style: italic;
  font-size: xx-small;
}

#sender {
  margin: 0rem 0rem 0rem 1rem;
  display: inline;
  text-align: left;
  float: left;
  font-size: xx-small;
}

#sender:hover {
  cursor: default;
  color: lightblue;
}
#date {
  padding: 0;
  display: inline;
  float: right;
  font-style: italic;
  font-size: xx-small;
  color: gray;
}

.chat-container {
  position: absolute;
  top: 80px;
  width: 100%;
  bottom: 0;
}

.sidebar {
  width: 20%;
  position: fixed;
  left: 0;
  height: calc(100% - 80px);
  background-color: lightgray;
  /* overflow: auto; */
}

#channel-info > li {
  margin: 0.5rem;
  border: thin;
  border-radius: 0.3rem;
  background-color: lightseagreen;
  color: white;
  border-color: black;
  position: relative;
}

#channel-info > li.chanCurrent {
  background-color: darkcyan;
}

#channel-info > li > button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: white;
  padding: 0rem 0.3rem;
}

#channel-info > li > .joinchan {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background: white;
  color: darkcyan;
  padding: 0.2rem;
}

#channel-info > li > p {
  position: absolute;
  top: 0;
  left: 0;
  background: lightcoral;
  border-radius: 1rem;
  border: thin white solid;
  color: white;
  font-size: 0.7rem;
  padding: 0rem 0.3rem;
  margin: 0.3rem;
}

.chat {
  left: 20%;
  width: 80%;
  position: fixed;
  height: 100%;
}

#messages {
  height: calc(100% - 8rem);
  bottom: 8rem;
  overflow-y: auto;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  width: 80%;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#form > input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#form > input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.newchan {
  padding: 0rem;
  margin: 0.25rem;
  height: 2rem;
  overflow: hidden;
}

.newchan > input {
  border: none;
  padding: 0 1rem;
  border-radius: 3px;
  margin: 0.25rem;
  max-width: 80%;
  height: 1.5rem;
}

.newchan > input:focus {
  outline: none;
}

.newchan > button {
  background: #333;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  border-radius: 3px;
  outline: none;
  color: #fff;
  max-width: 20%;
  height: 1.5rem;
}

#channels {
  height: calc(100% - 2rem);
  overflow: auto;
  /* top: calc(2rem); */
  bottom: 2rem;
  padding: 0 0 0.5rem;
}

.settings {
  position: fixed;
  top: 7rem;
  left: 30%;
  right: 10%;
  width: 60%;
  background: lightseagreen;
  margin: 1rem;
  padding: 1rem;
  color: white;
  border-radius: 3px;
  min-height: 20%;
}

.settings > h3 {
  background-color: darkcyan;
  border-radius: 3px;
  padding: 1rem;
}

.settings > button {
  background: white;
  color: black;
  border: none;
  margin: 1rem;
  padding: 0rem 1rem;
  border-radius: 3rem;
}

.settings > button:active {
  background: lightblue;
}

.settings > button.closesettings {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.contextMenu {
  position: fixed;
  color: white;
  background: darkcyan;
  border-radius: 0.2rem;
  padding: 0.1rem;
  font-size: 0.8rem;
  margin: 0.2rem 1rem 0.2rem 0.1rem;
}

.contextMenu > p {
  padding: 0.3rem;
}
.contextMenu > ul > li {
  border: none;
  background-color: lightseagreen;
  padding: 0.3rem;
  margin: 0.2rem;
  min-width: 5rem;
  border-radius: 0.2rem;
  position: relative;
}
.contextMenu > ul > div > li {
  border: none;
  background-color: lightseagreen;
  padding: 0.3rem;
  margin: 0.2rem;
  min-width: 5rem;
  border-radius: 0.2rem;
  position: relative;
}

.contextMenu > ul > li:hover {
  border: thin solid;
  border-color: white;
}

.contextMenu > ul > div > li:hover {
  border: thin solid;
  border-color: white;
}

.contextMenu > button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem;
  background: none;
  border: none;
  color: white;
}

.participant_list {
  margin: 0rem;
  max-height: 10rem;
  overflow: auto;
}

.participant_list > div > li {
  margin: 0.2rem 0.2rem 0.2rem 1rem;
  padding: 0.1rem;
  text-align: left;
  font-size: small;
  list-style-type: none;
  display: inline-block;
}

.participant_list > div > li:hover {
  color: darkcyan;
}

.participant_list > div > div {
  display: inline-block;
  margin: 0.2rem 0.2rem 0.2rem 1rem;
}

.participant_list > div > div > button {
  border: none;
  border-radius: 0.2rem;
  background-color: darkcyan;
  padding: 0.2rem;
  margin: 0.1rem;
  color: white;
}
